
/* section-1*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.features {
  background: linear-gradient(90deg, #4a4adf, #6a5acd);
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.features h2 {
  font-size: 28px;
  margin-bottom: 40px;
}

.feature-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.feature {
  width: 150px;
}

.circle {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;
}

.circle img {
  width: 50px;
  height: 50px;
}

.feature p {
  font-size: 16px;
  line-height: 1.5;
}






/* section-2 */
.books {
  background: #eaeaf0;
  padding: 50px 20px;
  text-align: center;
}

.books h2 {
  color: #5a5adf;
  font-size: 28px;
  margin-bottom: 40px;
}

.book-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.book {
  width: 180px;
  text-align: left;
}

.book img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 6px;
}

.book h4 {
  font-size: 14px;
  margin: 10px 0 5px;
}

.author {
  font-size: 13px;
  color: gray;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-size: 13px;
}

.borrow {
  color: red;
  cursor: pointer;
}

.cart {
  color: green;
  cursor: pointer;

}






body {
    font-family: Arial, sans-serif;
    background: #f5f6fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: auto;
    padding: 30px 0;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    color: #5b5fd4;
}

.header a {
    text-decoration: none;
    color: #5b5fd4;
}

/* Genres */
.genres {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.genres button {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #ff7a5c, #ff9966);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.genres button:hover {
    transform: scale(1.05);
}

/* Authors */
.authors {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.author-card {
    text-align: center;
}

.author-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #5b5fd4;
    object-fit: cover;
}

.author-card h4 {
    margin: 10px 0 5px;
}

.author-card p {
    color: #ff7a5c;
    font-weight: bold;
}